page {
  min-height: 100%;
  color: #253654;
  background: #e9f9ff;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", sans-serif;
}

view,
text,
button,
image,
video,
scroll-view,
swiper,
swiper-item {
  box-sizing: border-box;
}
